# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('./data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [22]:
#таблица с долей должников для групп со всем вариантами семейного положения, цели кредита и ежемесячным доходом
table_to_choose1 = pd.pivot_table(data, values='debt', index = ['purpose_category', 'total_income_category'], columns='family_status', aggfunc=['mean', 'count'])

In [23]:
#такая же таблица, но с наиболее представленными группами по ежемесячному доходу
new_data = data.loc[(data['total_income_category'] != 'A') & (data['total_income_category'] != 'E') , :]
table_to_choose2 = pd.pivot_table(new_data, values='debt', index = ['purpose_category', 'total_income_category'], columns='family_status', aggfunc=['mean', 'count'])

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

In [25]:
#доля клиентов с долгами и их количество для клиентов с разными количеством детей
data.groupby('children').agg({'debt':['mean', 'count']})

              debt
              mean  count
children
0         0.075438  14091
1         0.092346   4808
2         0.094542   2052
3         0.081818    330
4         0.097561     41
5         0.000000      9

In [26]:
#среднее количество детей у клиентов и их количество для клиентов без долгов и с долгами
data.groupby('debt').agg({'children':['mean', 'count']})

      children
          mean  count
debt
0     0.468493  19599
1     0.536374   1732

**Вывод:**

1. Все клиенты с 5-ю детьми не имеют долгов. Таких клиентов всего 9, когда клиентов без детей более 14 тысяч. Нужно больше информации.
2. У клиентов без детей, а также у клиентов с 3-мя детьми заметно выше процент возвращения кредита, чем у клиентов с 1,2 и 4-мя детьми.
3. У клиентов с долгами в среднем больше детей, чем у клиентов без долгов

Да, зависимость есть, чаще всего возвращают кредиты клиенты без детей (7,54% долгов), затем немного реже клиенты с 3-мя детьми(8,18% долгов) и ещё реже клиенты с 1-м (9,23% долгов), 2-мя (9,45% долгов) и 4-мя (9,75% долгов) детьми. Клиентов с 5-ми детьми слишком мало.
Если делать акцент на количестве данных, то данные о клиентах с 3-5 детьми можно не рассматривать, т.к. число таких клиентов более чем на порядок меньше, чем клиентов без детей. Тогда вывод такой: выгоднее выдавать кредиты клиентам без детей, чем с одним или двумя детьми.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [28]:
#доля должников среди клиентов банка для каждого семейного положения и их количество
data.groupby('family_status').agg({'debt':['mean', 'count']})

                           debt
                           mean  count
family_status
Не женат / не замужем  0.097639   2796
в разводе              0.070648   1189
вдовец / вдова         0.066246    951
гражданский брак       0.093130   4134
женат / замужем        0.075606  12261

**Вывод:**

Да, зависимость есть. Чаще всего кредиты возвращают клиенты с семейным положением 'в разводе' (7,07% долгов),  'вдовец / вдова' (6,62% долгов) и 'женат / замужем' (7,56% долгов), заметно реже кредиты отдают клиенты с семейным положением 'Не женат / не замужем' (9,76% долгов) и 'гражданский брак' (9,31% долгов).

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [29]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

In [30]:
#доля должников среди каждой из категорий клиентов по ежемесячному доходу
data.groupby('total_income_category').agg({'debt':['mean', 'count']})

                           debt
                           mean  count
total_income_category
A                      0.080000     25
B                      0.070602   5014
C                      0.084982  15921
D                      0.060172    349
E                      0.090909     22

In [31]:
#средний доход и их количество для клиентов без долгов и с долгами
data.groupby('debt').agg({'total_income':['mean', 'count']})

       total_income
               mean  count
debt
0     165713.065105  19599
1     161152.278868   1732

**Вывод:**

1. Клиентов категорий 'A' и 'E' очень мало в сравнении с клиентами остальных категорий (отличие от кол-ва клиентов категориии 'C' на 3 порядка), поэтому по этим категориями нужно больше данных для выводов.
2. Клиенты категории 'D' (6,02% долгов) отдают кредиты заметно чаще, чем клиенты категорий 'D' (7,06% долгов) и 'C' (8,5% долгов). 
3. Практически равный уровень дохода для клиентов с долгами и без.
Да, зависимость есть. Имеем разный процент возвращения кредита в срок для клиентов разных категорий: выше всего у категории 'D' (6,02% долгов), далее идёт категория 'D' (7,06% долгов) и, наконец, самая многочисленная категория 'C' (8,5% долгов).

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [33]:
#доля должников для различных целей кредита
data.groupby('purpose_category').agg({'debt':['mean', 'count']})

                              debt
                              mean  count
purpose_category
операции с автомобилем    0.093480   4279
операции с недвижимостью  0.072551  10751
получение образования     0.092528   3988
проведение свадьбы        0.079118   2313

**Вывод:**

Да, зависимость есть. Имеем разные доли возвращения кредита для разных целей: чаще всего возвращают кредиты на недвижимость (7,26% долгов) и свадьбу (7,91% долгов), реже на автомобиль (9,35% долгов) и образование (9,25% долгов).

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски изначально были в значениях трудового стажа и ежемесячного дохода. Трудовой стаж и Ежемесячный доход - очень важный характеристики при одобрении кредита клиенту банка, так что маловероятно, что эта информация просто не была собрана у некоторых клиентов. Наиболее вероятно, что информация была потеряна при заполнении таблицы или же при дальнейшей работе с данными.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Используя другие функции (например минимум, максимум) вместо медианы, мы можем сильно изменить среднее значение по группе клиентов. Например у нас было 1000 клиентов со средней зарплатой в 100000 руб. и максимальной в 300000 руб. и 1000 клиентов, данные о зарплате которых были утеряны. Если мы заполним недостающие данные максимумом, то получим среднюю зарплату в 200000 руб., что в 2 раза больше изначального среднего значения. Используя медиану, а не, например, среднее значение, мы будем получать реальные значения. Например, все зарплаты указаны с округление до тысяч и при рассчете среднего значения мы можем получить любое число, не обязательно ровное число тысяч.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

1. На этапе предобработки в данных были обнаружены пропуски в столбцах трудового стажа и ежемесячного дохода. Эти пропуски были заполнены медианных значением.
2. Столбец с информацией об образовании был переведём в нижний регистр для обработки неявных дубликатов.
3. Данные о ежемесячном доходе были категоризированы для дальнейшего анализа связи ежемесячного дохода с вероятностью возвращения кредита в срок.
4. Цели кредита были разбиты на 4 группы для дальнейшего анализа. 
5. Вероятность возвращения кредита оказалась зависящей от семейного положения, цели кредита и ежемесячного дохода клиента банка.
    1. Чаще всего кредиты возвращают клиенты с семейным положением 'в разводе' (7,07% долгов), 'вдовец / вдова' (6,62% долгов) и 'женат / замужем' (7,56% долгов), заметно реже кредиты отдают клиенты с семейным положением 'Не женат / не замужем' (9,76% долгов) и 'гражданский брак' (9,31% долгов).
    2. Клиенты категории 'D' (6,02% долгов) отдают кредиты заметно чаще, чем клиенты категорий 'D' (7,06% долгов) и 'C' (8,5% долгов). 
    3. Чаще всего возвращают кредиты на недвижимость (7,26% долгов) и свадьбу (7,91% долгов), реже на автомобиль (9,35% долгов) и образование (9,25% долгов).
6. При решении о выдаче кредита клиенту банка можно опираться на таблицу ниже. В ней находятся данные о доле должников для клиентов с разными семейным положением, целью кредита и ежемесячным доходом. Если по этой группе клиентов имеется достаточно данных (например, более 200 клиентов из этой группы), то можно принять решение только по частоте возвращение кредита. Если данных по этой группе недостаточно, то можно взять среднее значение по другим группам (например, по группе A очень мало данных и мы можем взять данные по группе B). Мало значений по конкретному семейному положению - можем взять среднее по другим, аналогично по цели кредита.

In [34]:
#таблица доли должников для каждого варианта семейного положения, цели кредита и категории дохода
table_to_choose1

                                                                mean  \
family_status                                  Не женат / не замужем
purpose_category         total_income_category
операции с автомобилем   A                                  0.000000
                         B                                  0.112676
                         C                                  0.133197
                         D                                  0.250000
                         E                                       NaN
операции с недвижимостью A                                  0.000000
                         B                                  0.082687
                         C                                  0.082203
                         D                                  0.000000
                         E                                  0.000000
получение образования    A                                       NaN
                         B                                  0.101449
                         C                                  0.108796
                         D                                  0.200000
                         E                                       NaN
проведение свадьбы       A                                       NaN
                         B                                       NaN
                         C                                       NaN
                         D                                       NaN
                         E                                       NaN

                                                                         \
family_status                                  в разводе вдовец / вдова
purpose_category         total_income_category
операции с автомобилем   A                           NaN            NaN
                         B                      0.041096       0.066667
                         C                      0.084577       0.099448
                         D                      0.200000       0.000000
                         E                           NaN            NaN
операции с недвижимостью A                      0.000000            NaN
                         B                      0.060976       0.053763
                         C                      0.070423       0.053488
                         D                      0.125000       0.000000
                         E                           NaN            NaN
получение образования    A                           NaN            NaN
                         B                      0.111111       0.064516
                         C                      0.063492       0.079268
                         D                      0.000000       0.000000
                         E                           NaN            NaN
проведение свадьбы       A                           NaN            NaN
                         B                           NaN            NaN
                         C                           NaN            NaN
                         D                           NaN            NaN
                         E                           NaN            NaN

                                                                 \
family_status                                  гражданский брак
purpose_category         total_income_category
операции с автомобилем   A                                  NaN
                         B                             0.087379
                         C                             0.128125
                         D                             0.142857
                         E                                  NaN
операции с недвижимостью A                             0.000000
                         B                             0.076923
                         C                             0.097297
                         D                             0.083333
                         E                                  NaN
получение образования    A                             0.500000
                         B                             0.097826
                         C                             0.167785
                         D                             0.000000
                         E                             0.000000
проведение свадьбы       A                             0.000000
                         B                             0.051471
                         C                             0.087912
                         D                             0.088235
                         E                             0.000000

                                                                \
family_status                                  женат / замужем
purpose_category         total_income_category
операции с автомобилем   A                            0.000000
                         B                            0.081602
                         C                            0.082371
                         D                            0.142857
                         E                            0.000000
операции с недвижимостью A                            0.090909
                         B                            0.063690
                         C                            0.072233
                         D                            0.033333
                         E                            0.222222
получение образования    A                            0.000000
                         B                            0.066781
                         C                            0.090627
                         D                            0.018519
                         E                            0.000000
проведение свадьбы       A                                 NaN
                         B                                 NaN
                         C                                 NaN
                         D                                 NaN
                         E                                 NaN

                                                               count  \
family_status                                  Не женат / не замужем
purpose_category         total_income_category
операции с автомобилем   A                                       1.0
                         B                                     142.0
                         C                                     488.0
                         D                                       4.0
                         E                                       NaN
операции с недвижимостью A                                       1.0
                         B                                     387.0
                         C                                    1180.0
                         D                                      16.0
                         E                                       2.0
получение образования    A                                       NaN
                         B                                     138.0
                         C                                     432.0
                         D                                       5.0
                         E                                       NaN
проведение свадьбы       A                                       NaN
                         B                                       NaN
                         C                                       NaN
                         D                                       NaN
                         E                                       NaN

                                                                         \
family_status                                  в разводе вдовец / вдова
purpose_category         total_income_category
операции с автомобилем   A                           NaN            NaN
                         B                          73.0           30.0
                         C                         201.0          181.0
                         D                           5.0            7.0
                         E                           NaN            NaN
операции с недвижимостью A                           3.0            NaN
                         B                         164.0           93.0
                         C                         497.0          430.0
                         D                           8.0           12.0
                         E                           NaN            NaN
получение образования    A                           NaN            NaN
                         B                          45.0           31.0
                         C                         189.0          164.0
                         D                           4.0            3.0
                         E                           NaN            NaN
проведение свадьбы       A                           NaN            NaN
                         B                           NaN            NaN
                         C                           NaN            NaN
                         D                           NaN            NaN
                         E                           NaN            NaN

                                                                 \
family_status                                  гражданский брак
purpose_category         total_income_category
операции с автомобилем   A                                  NaN
                         B                                103.0
                         C                                320.0
                         D                                  7.0
                         E                                  NaN
операции с недвижимостью A                                  2.0
                         B                                234.0
                         C                                740.0
                         D                                 12.0
                         E                                  NaN
получение образования    A                                  2.0
                         B                                 92.0
                         C                                298.0
                         D                                  9.0
                         E                                  2.0
проведение свадьбы       A                                  2.0
                         B                                544.0
                         C                               1729.0
                         D                                 34.0
                         E                                  4.0


family_status                                  женат / замужем
purpose_category         total_income_category
операции с автомобилем   A                                 1.0
                         B                               674.0
                         C                              1991.0
                         D                                49.0
                         E                                 2.0
операции с недвижимостью A                                11.0
                         B                              1680.0
                         C                              5150.0
                         D                               120.0
                         E                                 9.0
получение образования    A                                 2.0
                         B                               584.0
                         C                              1931.0
                         D                                54.0
                         E                                 3.0
проведение свадьбы       A                                 NaN
                         B                                 NaN
                         C                                 NaN
                         D                                 NaN
                         E                                 NaN

In [35]:
#такая же таблица, но только для наиболее представленных категорий дохода
table_to_choose2

                                                                mean  \
family_status                                  Не женат / не замужем
purpose_category         total_income_category
операции с автомобилем   B                                  0.112676
                         C                                  0.133197
                         D                                  0.250000
операции с недвижимостью B                                  0.082687
                         C                                  0.082203
                         D                                  0.000000
получение образования    B                                  0.101449
                         C                                  0.108796
                         D                                  0.200000
проведение свадьбы       B                                       NaN
                         C                                       NaN
                         D                                       NaN

                                                                         \
family_status                                  в разводе вдовец / вдова
purpose_category         total_income_category
операции с автомобилем   B                      0.041096       0.066667
                         C                      0.084577       0.099448
                         D                      0.200000       0.000000
операции с недвижимостью B                      0.060976       0.053763
                         C                      0.070423       0.053488
                         D                      0.125000       0.000000
получение образования    B                      0.111111       0.064516
                         C                      0.063492       0.079268
                         D                      0.000000       0.000000
проведение свадьбы       B                           NaN            NaN
                         C                           NaN            NaN
                         D                           NaN            NaN

                                                                 \
family_status                                  гражданский брак
purpose_category         total_income_category
операции с автомобилем   B                             0.087379
                         C                             0.128125
                         D                             0.142857
операции с недвижимостью B                             0.076923
                         C                             0.097297
                         D                             0.083333
получение образования    B                             0.097826
                         C                             0.167785
                         D                             0.000000
проведение свадьбы       B                             0.051471
                         C                             0.087912
                         D                             0.088235

                                                                \
family_status                                  женат / замужем
purpose_category         total_income_category
операции с автомобилем   B                            0.081602
                         C                            0.082371
                         D                            0.142857
операции с недвижимостью B                            0.063690
                         C                            0.072233
                         D                            0.033333
получение образования    B                            0.066781
                         C                            0.090627
                         D                            0.018519
проведение свадьбы       B                                 NaN
                         C                                 NaN
                         D                                 NaN

                                                               count  \
family_status                                  Не женат / не замужем
purpose_category         total_income_category
операции с автомобилем   B                                     142.0
                         C                                     488.0
                         D                                       4.0
операции с недвижимостью B                                     387.0
                         C                                    1180.0
                         D                                      16.0
получение образования    B                                     138.0
                         C                                     432.0
                         D                                       5.0
проведение свадьбы       B                                       NaN
                         C                                       NaN
                         D                                       NaN

                                                                         \
family_status                                  в разводе вдовец / вдова
purpose_category         total_income_category
операции с автомобилем   B                          73.0           30.0
                         C                         201.0          181.0
                         D                           5.0            7.0
операции с недвижимостью B                         164.0           93.0
                         C                         497.0          430.0
                         D                           8.0           12.0
получение образования    B                          45.0           31.0
                         C                         189.0          164.0
                         D                           4.0            3.0
проведение свадьбы       B                           NaN            NaN
                         C                           NaN            NaN
                         D                           NaN            NaN

                                                                 \
family_status                                  гражданский брак
purpose_category         total_income_category
операции с автомобилем   B                                103.0
                         C                                320.0
                         D                                  7.0
операции с недвижимостью B                                234.0
                         C                                740.0
                         D                                 12.0
получение образования    B                                 92.0
                         C                                298.0
                         D                                  9.0
проведение свадьбы       B                                544.0
                         C                               1729.0
                         D                                 34.0


family_status                                  женат / замужем
purpose_category         total_income_category
операции с автомобилем   B                               674.0
                         C                              1991.0
                         D                                49.0
операции с недвижимостью B                              1680.0
                         C                              5150.0
                         D                               120.0
получение образования    B                               584.0
                         C                              1931.0
                         D                                54.0
проведение свадьбы       B                                 NaN
                         C                                 NaN
                         D                                 NaN